
@{
    ViewData["Title"] = "Thanks";
}



    <div class="jumbotron">
        <div class="text-center">
            <h1>Thanks for your order</h1>
            <p>Your drinks will be ready momentarily.</p>
        </div>
    </div>

