@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JAX LIQOUR</h1>
</div>
<div class="jumbotron">
    <div class="text-center">
        <h2>WELCOME TO OUR SHOP</h2>
        <p>Please select an option</p>
    </div>
    <div class="flex-column">
        <div class="text-left">
            <a asp-controller="Product" asp-action="Index">Customers</a>
         </div>
        <div class="text-right">
            <a asp-controller="Orders" asp-action="Index">Bartenders</a>
        </div>
    </div>
</div>
